html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#menuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#startText {
    color: black;
    font-size: 3rem;
    font-family: Impact;
    text-align: center;
}